body {
    font: 10px sans-serif;
}

.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.arrow {
    stroke: #000;
    stroke-width: 1.5px;
}

.outer,
.inner {
    shape-rendering: crispEdges;
}

.outer {
    fill: white;
    stroke: #000;
}

.inner {
    fill: white;
    stroke: #000;
    stroke-dasharray: 3, 4;
}

rect.green {
  fill: white;
  stroke-width:1;
  stroke: rgb(76, 214, 15);
}

rect.red {
  fill: rgb(224,31,38);
}

line.current_volume {
  stroke: black;
  stroke-width: 1;
}

tspan.timestamp {
  
}

tspan.open {
  dx: 10px;
}

tspan.high {
  
}

tspan.low {
  
}

tspan.close {
  
}

tspan.volume {
  
}

.overlay {
  fill: none;
  pointer-events: all;
}